/* Variables */
/* cuerpo*/
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  font-size: 1rem;
  margin: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    overflow: hidden;
    max-height: 100vh;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-grow: 1;
    padding: 3rem;

}
/* titulo */
#main{
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

#main-title {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    color: white;
}

#contact-list{
    padding: 5vh;
    background-color: white;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    color: black;
    overflow: auto;
    width: 80vw;
    display: flex;
    margin: 5px;
    flex-direction: column;
    gap: 1rem;
    max-height: 40vw;
    /* 44vw calculado manualmente la vista para que no quede ningun elemento cortado por la mitad */
}

#contact-title{
    font-size: 2rem;
}
#phone-input-text{
    background-color: white;
    width: 90%;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    border: 3px solid;
    border-color:black;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
}
#contact-input-text{
    background-color: white;
    width: 90%;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    border: 3px solid;
    border-color:black;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
}

#contact-container {
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid;
    border-color:black;
    border-radius: 10px;
    align-items: center;
    width: 80vw;
}

#main-contact-button{
    cursor: pointer;
    width: 90%;
    height: auto;
    border-radius: 10px;
    color: var(--btn-text-color);
    background-color: var(--primary-color);
    justify-content: center;
    border: 3px solid;
    border-color: black;
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 5px;
}

#text-button{
    color: var(--text-color);
    justify-content: center;
    font-size: 1rem;
    align-items: end;
    height: 3rem;
    width: 2rem;
    text-align: center;
    flex-direction: column;
    display: flex;
}
#main-contact-button:hover{
    background-color: blue;
}
#icon-add-button{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.title{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}
.contact-item-check-button:hover{
    background-color: green;
    cursor: pointer;
}
.contact-item-delete-button:hover{
    background-color: red;
    cursor: pointer;
}
.contact-item{
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
}
.contact-item-text{
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}
.Contact-item-phone{
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
}
.contact-item-delete-button{
    width: 3.5rem;
    height: auto;
    border-radius: 10px;
    border-color: black;
    border: 2px solid;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.contact-item-check-button{
    width: 3.5em;
    height: auto;
    border-radius: 10px;
    border-color: black;
    border: 2px solid;
    background-color: white;
    display: flex;
}